header{
    
    .navbar{
        h1{
            color:white;
            font-size:$Bigfontsize;
            margin-left:50px;
            font-style: italic;
        }
    
    .buttonColor{
       background-color: #45C8C4;
    }
      .responsiveIcon{
        color:white;
        
    }

}

}